{% extends 'base.html' %}

{% block title %} create recipe {% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/form.css">
   <div class="container-fluid">
      <div class="row" name="form_Row">
        
        <div class="col-xs-12 col-md-9 col-lg-6">
            <div><h2> Share a Recipe with Us</h2></div>
            <div class="create_recipe_form">
                <form id="create_recipe_form" action="/create_recipe/card" method="post" enctype="multipart/form-data">


                    <label for="title">Add a title to your recipe</label><br>
                        <input type="text" name="title" id="title">
                        <br>
                        <br>
                    
                    <label for="cuisine">Choose a cuisine to your recipe</label><br>
                        <select name="cuisine" id="select_cuisine" class="form-select" multiple aria-label="multiple select example">
                            
                            {% for cuisine in cuisine_list %}
                            
                                <option >{{ cuisine }}</option>
                                
                            {% endfor %}
                        </select>
                        <br>
                    <label for= "ready_in_minutes">add time this recipe needs to be ready</label>
                        <input type="number" min="0" id="ready_in_minutes">
                        <br>
                        
                        
                            <label for="instructions">Instructions</label>
                            <textarea class="form-control" placeholder="Write us Instructions here" id="instructions" style="height: 100px"></textarea>
                            
                        <br>
                    <label for="servings"> Add number of servings to your recipe</label><br>
                        <input type="number" name="servings" id="servings" min="0">
                        <br>
                    <label for="image"> Add an Image for your recipe</label><br>
                        <input type="text" name="image" id="image">
                        <br>    
                    
                    <label for="ingredients"> Add your recipe's Ingredients</label>
                        <input type="text" name="ingredients" id="ingredients"> 
                        <button id="add_ingredient">Add Ingredient</button>
                            <ul id="input_ingredients"></ul>

                    <!-- <label for="image"> Upload image</label> -->
                        <!-- <input type="file" name="my_file" id="my_file"> -->

                    <button type="submit" id="button" value="submit"> Spread my recipe ..</button>
                </form>
            </div>
        </div>
   

        <div class="col-xs-12 col-md-3 col-lg-6">
            <div class="New_recipe_card">
                <p id= recipe_card> new recipe card will show here </p>

            </div>
        </div> 

    </div>
    
    <script src="/static/js/create_recipe.js"></script>


{% endblock %}