{% extends 'base.html' %}

{% block title %} create recipe {% endblock %}

{% block body %}

<body>
   <div class="create_recipe_container">

    <div class="row" name="header_Row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <header>this is the header</header>
        </div>
    </div>

    <div class="row" name="form_Row">
        
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="create_recipe_form">
            </div>
        </div>
   

        <div class="col-xs-12 col-md-6 col-lg-9">
            <div class="New_recipe_card">
            <p id= recipe_card> new recipe card will show here </p>

            </div>
        </div> 

    </div>
</body>

{% endblock %}