{% extends 'base.html' %}

{% block title %} create recipe {% endblock %}

{% block body %}

<body>
   <div class="create_recipe_container">

    <div class="row" name="header_Row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <header>this is the header</header>
        </div>
    </div>

    <div class="row" name="form_Row">

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="create_recipe_form">
                <form id="create_recipe_form" action="/create_recipe/card">


                    <label for="title">Add a title to your recipe</label><br>
                        <input type="text" name="title" id="title">
                        <br>
                        <br>
                    
                    <label for="cuisine">Choose a cuisine to your recipe</label><br>
                        <select name="cuisine" id="select_cuisine">
                            <option value="american"> American Cuisine</option>
                            <option value="african">African Cuisine</option>
                            <option value="caribbean">Caribbean Cuisine</option>
                            <option value="chinese">Chinese Cuisine</option>
                            <option value="cajun">Cajun Cuisine</option>
                            <option value="french">French Cuisine</option>
                            <option value="greek">Greek Cuisine</option>
                            <option value="indian">Indian Cuisine</option>
                            <option value="italian">Italian Cuisine</option>
                            <option value="mediterranean">mediterranean Cuisine</option>
                            <option value="mexican">Mexican Cuisine</option>
                            <option value="thai">Thai Cuisine</option>
                        </select>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    <label for="instructions"> Add instructions to your recipe</label><br>
                        <textarea name="instructions" id="instructions"></textarea><br>
                        <br>
                    <label for="servings"> Add number of servings to your recipe</label><br>
                        <input type="number" name="servings" id="servings">
                        <br>
                    <label for="image"> Add an Image for your recipe</label><br>
                        <input type="file" name="image" id="image">
                        <br>
                    <button type="submit" id="button" value="submit"> CLICK HERE !!</button>
                </form>
            </div>
        </div>
   

        <div class="col-xs-12 col-md-6 col-lg-9">
            <div class="New_recipe_card">
            <p id= recipe_card> new recipe card will show here </p>

            </div>
        </div> 

    </div>
    
    <script>
        var btn = document.getElementById("button");
    
        btn.addEventListener("click", (event)=>{

            let newRecipeCard = document.getElementById("recipe_card");
            let titleValue = document.getElementById("title").value;
            let cuisineValue = documnet.getElementById("select_cuisine").value;
            let instructionsValue = document.getElementById("instructions").value;
            let servingsValue = document.getElementById("servings").value;
            let imageValue = document.getElementsByName("image").value;
            event.preventDefault();
            console.log("event Happening");

            let params = { "title" : titleValue, 
                            "cuisine" : cuisineValue,
                            "instructions" : instructionsValue,
                            "servings" : servingsValue,
                            "image" : imageValue };
                            
            $.get("/create_recipe/card", params, (response)=>{
                newRecipeCard.innerHTML = response;
                console.log("success")
                });
        });
    </script>
</body>

{% endblock %}