{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% block body %}

<body class="d-flex h-100 ">
    <div class="homepage_container">

        <div class="row" name="header_Row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">DivRecipy</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a> </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/recipes">Diversed Recipes</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/create_recipe">Share arecipe with us</a>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                  </nav>
                
            </div>

          
        <div class="row" name="main_Row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <div class="welcome-text">
                    <h1>
                      Div.<span>Recipe</span></h1>
                      <a href="">Explore our recipes</a>
                  </div>       
        
        <div class="row" name="footer_Row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <P>This is the footer</P>
            </div> 
        </div>
    
                     
    </div>
    

</body>

{% endblock %}
