{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% block body %}
 
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="homepage_container">

        <div class="row" name="header_Row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <header>this is the header</header>
            </div>
        </div>
        
        <div class="row" name="main_Row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="sidenav">
                        <ul class="list-group list-group-flush">
                        <li class="list_cuisine_item" value="american" >american </li>
                        <li class="list_cuisine_item" value="african"> african </li>
                        <li class="list_cuisine_item" value="caribbean"> caribbean </li>
                        <li class="list_cuisine_item" value="chinese"> chinese </li>
                        <li class="list_cuisine_item" value="cajun"> cajun </li>
                        <li class="list_cuisine_item" value="french"> french </li>
                        <li class="list_cuisine_item" value="greek"> greek </li>
                        <li class="list_cuisine_item" value="indian"> indian </li>
                        <li class="list_cuisine_item" value="italian"> italian </li>
                        <li class="list_cuisine_item" value="mediterranean"> mediterranean </li>
                        <li class="list_cuisine_item" value="mexican"> mexican </li>
                        <li class="list_cuisine_item" value="thai"> thai </li>

    
                        </ul>
                    </div>
                </div>
            

                <div class="col-xs-12 col-md-6 col-lg-9">
                    <div class="recipe_cards">
                        <h2>recipes cards</h2>
                    
                    </div>
                </div> 
        </div>      

        <div class="row" name="footer_Row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <P>This is the footer</P>
            </div> 
        </div>
    
                     
    </div>
    <script>

        let listCuisineItems = document.querySelectorAll(".list_cuisine_item");
        listCuisineItems.forEach((item, index)=>{
            item.addEventListener('click', (event)=>{
            let selectedCuisine = event.currentTarget.innerHTML;
            console.log(selectedCuisine) 
            });
  
        });
    
    </script>

</body>

{% endblock %}
