{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% block body %}

<body >
    <div class="container">  
        <div class="row" name="main_Row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <div class="welcome-text">
                    <h1>
                      Recipe<span>Pool</span></h1>
                      <a href="/recipes">Explore our recipes</a>
                  </div>       
        
                  
               </div> 
                     
        </div>
    
  </div>
</body>

{% endblock %}

