{% extends 'base.html'%}
{% block title %} World Recipe {% endblock %}
{% block body %}

<body>
    <div class="container">    
        
        <div class="row" name="main_Row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="sidenav">
                        <ul class="list-group list-group-flush">
                          <button class="list_cuisine_item" value="american" >american </button>
                          <button class="list_cuisine_item" value="african"> african </button>
                          <button class="list_cuisine_item" value="caribbean"> caribbean </button>
                          <button class="list_cuisine_item" value="chinese"> chinese </button>
                          <button class="list_cuisine_item" value="cajun"> cajun </button>
                          <button class="list_cuisine_item" value="french"> french </button>
                          <button class="list_cuisine_item" value="greek"> greek </button>
                          <button class="list_cuisine_item" value="indian"> indian </button>
                          <button class="list_cuisine_item" value="italian"> italian </button>
                          <button class="list_cuisine_item" value="mediterranean"> mediterranean </button>
                          <button class="list_cuisine_item" value="mexican"> mexican </button>
                          <button class="list_cuisine_item" value="thai"> thai </button>
                        </ul>
                    </div>
                </div>
            
                <div class="col-xs-12 col-md-6 col-lg-9">
                    <div class="recipe_cards">
                        <p id="recipe_cards"> cards here </p>
                    </div>
                </div> 
        </div>      
        
                     
    </div>
    <script src="/static/js/homepage.js"></script>

</body>
{% endblock %}